html {
	/*height: 100%;*/
	
}

body {
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
}

.footer {
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: #333;
	color: #FFF;
	line-height: 1.428571429;
}

.footer:before {
	content: "";
	display: block;
	height: 4px;
	/*background: #0088d2;*/
	margin-bottom: 16px;
}

.slide {
	margin-top: 20px;
}

.lis {
	margin-top: 10px;
	max-width: 100%;
}

.lisa {
	margin-top: 50px;
}

.zz {
	margin-top: 80px;
	margin-bottom: 50px;
}

img {
	width: 100%;
}

.textsizeb {
	font-weight: bold;
}

.btn-cofe {
	background: #fff;
	/* Old browsers */
	background: -moz-linear-gradient(top, #7f5f42 0%, #7f5f42 50%, #7f5f42 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f5f42),
		color-stop(50%, #7f5f42), color-stop(100%, #7f5f42));
	/*   Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7f5f42 0%, #7f5f42 50%, #7f5f42 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7f5f42 0%, #7f5f42 50%, #7f5f42 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7f5f42 0%, #7f5f42 50%, #7f5f42 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #7f5f42 0%, #7f5f42 50%, #7f5f42 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7f5f42',
		endColorstr='#7f5f42', GradientType=0);
	/* IE6-9 */
	color: #fff;
}

.btn-cofe:hover {
	background: #603813;
	/*旧版浏览器*/
	color: #fff;
}

.btn-big {
	padding: 15px 0;
	text-decoration: none !important;
}

.nav {
	padding-left: 0;
}

.nav-tabs {
	border-bottom: 1px solid #ddd;
}

.tab-nav {
	margin: 15px 0;
}

.tab-nav li a {
	border-radius: 0;
	background: #fff;
	color: #333;
	padding: 10px 35px;
	border: 1px solid #ccc;
	border-top: 3px solid #ccc;
}

.nav-tabs>li>a {
	margin-right: 2px;
}

.nav>li, .nav>li>a {
	position: relative;
	display: block;
}

.table-bordered {
	border: 1px solid #ddd;
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border-bottom-width: 2px;
}

table td.center {
	text-align: center;
}

table td.right {
	text-align: right;
}

.tooltip {
	font-size: 16px;
	color: #333;
}

a, a:focus, a:hover {
	text-decoration: none;
}

.ticketBox {
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0 0 15px;
	padding: 12px 12px 12px 22px;
	border: 1px solid #ccc;
}

.info .ticketBox {
	position: relative;
}

.categoryTag {
	background: #0088d2;
	width: 10px;
	height: 100%;
	padding: 0 0 25px;
	z-index: 0;
	/*position:absolute;*/
	left: -22px;
	top: -12px;
}

.date {
	margin: 10px 0 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.ticketid {
	margin: 10px 0 0;
	color: #999;
}